<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Order :: Not Found</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="site-section-sm">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Order Not Found</h1>
                        <p th:if="${message != null}" th:utext="${message}" style="color: red;"></p>
                        <p><a href="/" class="btn btn-info" th:href="@{/}">Back to home page</a></p>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
