<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User Order</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a th:href="@{/user/}">User</a> <span class="mx-2 mb-0">/</span>
                        <a th:href="@{/user/orders}">Orders</a> <span class="mx-2 mb-0">/</span>
                        <strong th:text="${orderForm.orderNum}" class="text-black">Order</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 mr-auto">
                        <div th:replace="fragments/user-menu.html :: userMenu('/user/orders')"></div>
                    </div>

                    <div class="col-md-9">

                        <form class="form-horizontal">
                            <div th:if="${message}" th:class="${'alert ' + alertClass + ' alert-dismissible'}" role="alert">
                                <span th:text="${message}">message</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <table class="table site-block-order-table mb-5">
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <h5 class="text-muted" th:if="${orderForm.shippedDate}" th:text="${'This order was shipped on ' + #dates.format(orderForm.shippedDate, 'MM-dd-yyyy')}"> Ship Date </h5>
                                                    <h5 class="text-muted" th:unless="${orderForm.shippedDate}">This order has not yet shipped</h5>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <th>Order Id:</th>
                                                <th><span th:text="${orderForm.orderNum}" class="text-black"></span></th>
                                            </tr>
                                            <tr>
                                                <td>Order Date:</td>
                                                <td><span th:text="${#dates.format(orderForm.orderDate, 'MM-dd-yyyy')}"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Items:</td>
                                                <td>

                                                    <div id="order-summary">
                                                        <div id="empty-order" class="d-none">
                                                           <div class="row">
                                                            <div class="offset-2 text-center pb-5">
                                                              <h5>Your order was empty!</h5>
                                                            </div>
                                                           </div>
                                                        </div>
                                                        <div id="item-order" class="d-none">
                                                            <table id="item-table" class="table table-sm site-block-order-table">
                                                                <thead class="thead-light">
                                                                <tr>
                                                                    <th>Product</th>
                                                                    <th>Total</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Total:</strong></td>
                                                <td><strong><span th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(orderForm.amount, 0, 2), '.00', '')}"> Amount </span></strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="col-md-12">
                                    <a class="btn btn-primary" th:href="@{/user/orders}"> Back </a>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/components/OrderSummary.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            (function ($) {
                $(document).ready(function () {
                    $('#order-summary').OrderSummary({ cart: /*[[${orderForm.cart}]]*/ '', currencySymbol: /*[[${currencySymbol}]]*/ '&#164;' });
                });
            })(jQuery);
        </script>
    </th:block>
</body>
</html>
