<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Backdoor</title>
</head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a th:href="@{/admin/}">Site Admin</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Diagnostics</strong></div>
                    </div>
                </div>
            </div>

            <div class="site-section">

                <div class="container">

                    <div class="row">

                        <div class="col-md-3 mr-auto">
                           <div th:replace="fragments/admin-menu.html :: adminMenu('/admin')"></div>
                        </div>

                        <div class="col-md-10">
                            <p>This is an admin page where some dangerous content could be available!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>
