# Default ignored files
.idea
*.iml
*.fpr
*.zip
*.pdf
.fod/
.fortify/
/target/
/.classpath
/.project
/.settings/
/.env
/iqReport.json
/etc/WSD/
/installs/
/fortify-sca.settings
.venv

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/.debricked.multiprojects.txt
/.gradle.debricked.lock
/.gradle-init-script.debricked.groovy
.vscode/settings.json
.history
dependencies.txt
bin/main
bin/test
gradle.debricked.lock
sc.gradle.debricked.lock
fcli.log
