<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User Messages</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin/}">Site Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Messages</li>
            </ol>
        </nav>

        <div th:replace="fragments/admin-menu.html
                    :: adminMenu('/admin/', ${messageCount})">
        </div>

        <div class="col-md-10">
            <table class="table">
                <caption>User messages</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">To</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Date Sent</th>
                    <th scope="col">User Read</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${messages.empty}">
                    <td colspan="2"> No Messages Available </td>
                </tr>
                <tr th:each="m : ${messages}">
                    <td><a th:href="@{/admin/messages/view/{id}(id=${m.id})}"><span th:text="${m.id}"> # </span></a></td>
                    <td><span th:text="${m.user.username}"> To </span></td>
                    <td><span th:text="${#strings.abbreviate(m.text,40)}"> Text </span></td>
                    <td><span th:text="${m.sentDate}"> Date Sent </span></td>
                    <td>
                        <span th:if="${m.read}"> <i class="fas fa-check"></i> </span>
                        <span th:unless="${m.read}"> <i class="fas fa-times"></i> </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" th:href="@{/admin/messages/add}">New Message</a>
        </div>

    </div>
</div>
</body>
</html>
