<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User Messages</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a th:href="@{/admin/}">Site Admin</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">User Messages</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">

        <div class="container">

            <div class="row">

                <div class="col-md-3 mr-auto">
                    <div th:replace="fragments/admin-menu.html :: adminMenu('/admin/messages')"></div>
                </div>

                <div class="col-md-9">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">To</th>
                            <th scope="col">Summary</th>
                            <th scope="col">Sent</th>
                            <th scope="col">Read</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${messages.isEmpty()}">
                            <td colspan="6"> No Messages Available </td>
                        </tr>
                        <tr th:each="m : ${messages}" th:classappend="${m.read} ? text-muted : text-info">
                            <td><span th:text="${m.user.username}"> To </span></td>
                            <td><a th:href="@{/admin/messages/{id}(id=${m.id})}"><span th:text="${#strings.abbreviate(m.text,50)}"> Text </span></a></td>
                            <td><span th:text="${#dates.format(m.sentDate, 'MM-dd-yyyy')}"> Sent </span></td>
                            <td>
                                <span th:if="${m.read}"> <i class="fas fa-check"></i> </span>
                                <span th:unless="${m.read}"> <i class="fas fa-times"></i> </span>
                            </td>
                            <!--td>
                                <a type="button" class="btn btn-primary btn-sm" role="button" th:href="@{/admin/messages/{id}(id=${m.id})}">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td>
                                <a type="button" class="btn btn-sm btn-danger" role="button" data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${m.id }">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td-->

                            <!-- delete modal -->
                            <div class="modal modal-warning fade in" th:id="modal-warning+${m.id }" >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Message</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure want to delete this message?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{/admin/messages/delete/{id}(id=${m.id})}" method="post">
                                                <button type="submit" class="btn btn-danger" role="button"><i class="fa fa-check"></i>&nbsp;Yes</button>
                                                <button type="button" class="btn btn-default" role="button" data-dismiss="modal">No</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>

                    <div class="form-group row mt-4">
                        <div class="col-md-12">
                            <a class="btn btn-primary" th:href="@{/not-yet-implemented}">New Message</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>
