server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: false
    whitelabel:
      enabled: false
  servlet:
    context-path: /

spring:
  config:
    activate:
      on-profile: "default"
  main:
    allow-bean-definition-overriding: true
    banner-mode: "off"
  thymeleaf:
    cache: false
    check-template: true
    check-template-location: true
    enabled: true
    encoding: UTF-8
    # excluded-view-names:
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html
    # template-resolver-order:
    # view-names:
    servlet:
      content-type: text/html
  datasource:
    # h2 database
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:iwa
    username: sa
    password: password
    initialization-mode: always
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        # h2 database dialect
        dialect: org.hibernate.dialect.H2Dialect
  mvc:
#    favicon:
#      enabled: false
    throw-exception-if-no-handler-found: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-ahui5f878pgtbrpr.us.auth0.com/
          audiences: https://iwa-api.onfortify.com
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  mail:
    default-encoding: UTF-8
    host: smtp.sendgrid.net
    username: apikey
    password: # Your API Password
    port: 587
    test-connection: true
    debug: true
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true   


#  resources:
#    add-mappings: false


springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
#    url: /v3/api-docs
    path: /swagger-ui.html
    display-request-duration: true
    operations-sorter: alpha
    tagsSorter: alpha
 #   groups-order: DESC
    disable-swagger-default-url: true
  paths-to-match: /api/**
  writer-with-order-by-keys: true
#  group-configs:
#    - group: application
#      paths-to-match: /api/**
#    - group: actuator
#      paths-to-match: /actuator/**


logging:
  level:
    root: WARN
    com.microfocus: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.springframework.security.oauth2: DEBUG

app:
  name: IWA Pharmacy Direct
  url: https://iwa.onfortify.com
  version: 1.1
  currency: GBP
  invalidPasswordList: "/invalid-password-list.txt"
  data:
    page-size: 25
  messages:
    home: Welcome to our site!
  jwt:
    secret: eLgvVuw3qIHLNGNH/XNASMiV1RQlVgNakeDsLu7svKQP7jtu2+35wwu/rfwBAQi88wCiuCU66NS66BEySj6jQ4tLOJy4Jn5USbjBk98vMYnT+3me2lYqTUg/tdEg2HHMzhnu+MOXdq5LK1iwr0/uTob/meDy2cIT3ljF+8L7ZuxnwYYW0BTQsM+0nDTYNg4Ik/ChORRBjDyNpplzGvJlqvY5g2RkCyIP0WRe1A==
    expiration-ms: 86400000
    refresh-ms: 86400000
  mail:
    from-address: do-not-reply@onfortify.com
    from-name: IWAPharmacyDirect
  twilio:
    phone-number: # Twilio phone number
    sid: # Twilio account SID
    auth-token: # Twilio authentication token
