<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Products</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/products/}">Shop</a> </div>
                </div>
            </div>
        </div>

        <div class="site-section-sm">

            <div class="container">

                <div th:if="${not #strings.isEmpty(keywords)}" class="row pt-2">
                    <div class="col-md-12 text-center">
                        <h2>Searching for:
                            <span class="bg-light text-dark"><span th:utext="${keywords}"/></span>
                        </h2>
                    </div>
                </div>

                <div class="row mb-1">
                    <form th:action="@{/products}" class="col-md-12" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search products" name="keywords" id="keywords" th:value="${keywords}">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--div class="row">
                    <div class="col-lg-6">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                        <div id="slider-range" class="border-primary"></div>
                        <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                    </div>
                    <div class="col-lg-6">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Reference</h3>
                        <button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
                                data-toggle="dropdown">Reference</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <a class="dropdown-item" href="#">Relevance</a>
                            <a class="dropdown-item" href="#">Name, A to Z</a>
                            <a class="dropdown-item" href="#">Name, Z to A</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Price, low to high</a>
                            <a class="dropdown-item" href="#">Price, high to low</a>
                        </div>
                    </div>
                </div-->

                <div class="row pt-5">
                    <div class="col-sm-6 col-lg-4 text-center item mb-4" th:each="p : ${products}">
                        <span th:if="${p.onSale == true}" class="tag">Sale</span>
                        <a th:href="@{/products/{id}(id=${p.id})}">
                            <span th:if="${p.image} != null and ${p.image} != ''">
                                <img th:src="@{'/img/products/' + ${p.image}}" alt="Image" class="img-thumbnail">
                            </span>
                            <span th:if="${p.image} == null or ${p.image == ''}">
                                <img th:src="@{/img/awaiting-image-sm.png}" alt="Awaiting Image" class="img-thumbnail">
                            </span>
                        </a>
                        <h3 class="text-dark"><a th:href="@{/products/{id}(id=${p.id})}"><span th:text="${p.name}"> </span></a></h3>
                        <p class="price">
                            <del th:if="${p.onSale == true}">
                                <span th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(p.price, 0, 2), '.00', '')}"> Price </span>
                            </del>
                            <span th:if="${p.onSale == false}" th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(p.price, 0, 2), '.00', '')}"> Price </span>
                            <span th:if="${p.onSale == true}"> &mdash; </span>
                            <span th:if="${p.onSale == true}" th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(p.salePrice, 0, 2), '.00', '')}"> Sale Price </span>
                        </p>
                    </div>
                </div>

                <!--div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <div class="site-block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div-->

                <div class="row pt-4">
                    <div class="col-md-12">
                        <h5 th:if="${#strings.isEmpty(keywords)}" >Showing <span th:text="${productCount}"></span> of <span th:text="${productTotal}"></span> products</h5>
                        <h5 th:if="${not #strings.isEmpty(keywords)}" >Found <span th:text="${productCount}"></span> products</h5>
                    </div>
                </div>

            </div>
        </div>

        <div th:replace="fragments/secondary-bg.html :: secondaryBackground ('/index.html')"></div>

    </div>
</body>
</html>
