<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Product :: View</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/products/}">Shop</a> <span class="mx-2 mb-0">/</span> <strong th:text="${product.name}" class="text-black"> Product Name </strong></div>
                </div>
            </div>
        </div>

        <div class="site-section-sm">

            <div class="container">

                <div class="row">

                    <div class="col-md-5 mr-auto">
                        <div class="border text-center">
                            <span th:if="${product.image} != null and ${product.image} != ''">
                                <img th:src="@{'/img/products/' + ${product.image}}" alt="Image" class="img-fluid p-5">
                            </span>
                            <span th:if="${product.image} == null or ${product.image == ''}">
                                    <img th:src="@{/img/awaiting-image.png}" alt="Awaiting Image" class="img-fluid p-5">
                            </span>
                        </div>
                        <div class="mt-4">
                            <h5>Product Information</h5>
                            <table class="table table-sm table-borderless">
                                <tr>
                                    <th scope="row">Code:</th>
                                    <td><span th:text="${product.code}"> Code </span></td>
                                </tr>
                                <tr>
                                    <th scope="row">Manufacturer:</th>
                                    <td>Unknown</td>
                                </tr>
                                <tr>
                                    <th scope="row">Contents:</th>
                                    <td>Unspecified</td>
                                </tr>
                                <tr>
                                    <th scope="row">Date First Available:</th>
                                    <td><span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></span></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <a th:href="@{'/products/' + ${product.id} + '/download/datasheet.pdf'}">
                                            <i class="fas fa-download fa-fw"></i> Download Datasheet
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 item-entry">
                        <h2 class="text-black"><span th:text="${product.name}"> </span></h2>
                        <span class="product-rating">
                            <span th:each="i : ${#numbers.sequence( 1, product.rating, 1)}">
                                <i class="fas fa-star" style="color: cornflowerblue"> </i>
                            </span>
                            <span th:if="${product.rating != 5}">
                                <span th:each="i : ${#numbers.sequence(product.rating, 4, 1)}">
                                    <i class="fas fa-star" style="color: gray"> </i>
                                </span>
                            </span>
                            <span class="product-reviews pl-2"><a href="#reviews-start">Customer Reviews</a>&nbsp(<span id="review-count">0</span>)</span>
                        </span>

                        <h6 class="mt-2">Summary</h6>
                        <p><span th:text="${product.summary}"> Summary </span></p>
                        <h6>Description</h6>
                        <p><span th:text="${product.description}"> Description </span></p>
                        <h5 class="price pt-2 pb-4 item-price">
                            <del th:if="${product.onSale == true}">
                                <span th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(product.price, 0, 2), '.00', '')}"> Price </span>
                            </del>
                            <span th:if="${product.onSale == false}" th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(product.price, 0, 2), '.00', '')}"> Price </span>
                            <span th:if="${product.onSale == true}"> &ndash; </span>
                            <span th:if="${product.onSale == true}" th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(product.salePrice, 0, 2), '.00', '')}"> Sale Price </span>
                            <span th:if="${product.inStock}" class="badge badge-success">In Stock</span>
                            <span th:unless="${product.inStock}" class="badge badge-danger">Out of Stock</span>
                            <span th:unless="${product.inStock}" th:text="In stock in ${product.timeToStock} days" class="badge badge-light text-dark"> </span>
                        </h5>

                        <div class="cart-add">
                            <div class="mb-4">
                                <div class="input-group mb-3" style="max-width: 180px;">
                                    <div class="input-group-prepend">
                                        <button id="quantity-minus" class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>
                                    </div>
                                    <input class="form-control text-center" value="1" id="quantity-value" readonly>
                                    <div class="input-group-append">
                                        <button id="quantity-plus" class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <a th:if="${product.inStock}" id="add-to-cart" href="#" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a>
                                <a th:unless="${product.inStock}" id="add-to-cart" href="#" class="disabled buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a>
                            </p>
                        </div>

                        <div class="confirmation-modal">
                            <div id="checkout-now-modal" role="dialog" aria-hidden="true" class="modal fade" style="display: none;">
                                <div class="modal-dialog modal-md">
                                    <div tabindex="-1" role="document" aria-labelledby="checkout-now-header" aria-describedby="checkout-now-modal-body" class="modal-content">
                                        <header id="checkout-now-modal-header" class="modal-header">
                                            <h5 class="modal-title">Checkout Now</h5>
                                            <button type="button" aria-label="Close" class="close" data-dismiss="modal">×</button>
                                        </header>
                                        <div id="checkout-now-modal-body" class="modal-body">
                                            <div class="m-4 text-center">
                                                <h4></h4>
                                            </div>
                                        </div>
                                        <footer id="checkout-now-modal-footer" class="modal-footer">
                                            <button id="checkout-now" type="button" class="btn btn-primary" data-dismiss="modal">Buy now</button>
                                            <button id="continue-shopping" type="button" class="btn btn-secondary" data-dismiss="modal">Continue shopping</button>
                                        </footer>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <span id="reviews-start"></span>
                <div class="product-reviews rows">
                    <h4>Customer Reviews</h4>
                    <div class="review-data"></div>
                </div>

            </div>

        </div>

        <div th:replace="fragments/secondary-bg.html :: secondaryBackground ('/index.html')"></div>

    </div>

    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/components/CartAdd.js}"></script>
        <script type="text/javascript" th:src="@{/js/components/ProductReviews.js}"></script>
        <script type="text/javascript" th:inline="javascript">
            (function ($) {
                $('.cart-add').CartAdd({ pid: /*[[${product.id}]]*/ 'unknown' });
                $('.product-reviews').ProductReviews({ pid: /*[[${product.id}]]*/ 'unknown' });
            })(jQuery);
        </script>
    </th:block>
</body>
</html>
