<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Login</title>
<!-- INSECURE EXAMPLE: JavaScript Hijacking -->
        <script>
            var site_message;
            var req = new XMLHttpRequest();
            req.open("GET", "/site-message",true);
            req.onreadystatechange = function () {
                if (req.readyState === 4) {
                    site_message = eval("new String(\"" + req.responseText + "\")");
                    var sm_div = document.getElementById("site-message");
                    sm_div.className = "bg-info";
                    sm_div.innerText = site_message;
                    req = null;
                }
            };
            req.send(null);
        </script>
<!-- END EXAMPLE -->
    </head>
    <body class="text-center">
        <div layout:fragment="content" th:remove="tag">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <img th:src="@{/img/mf_logomark_blue_med.png}" class="rounded mx-auto d-block" alt="Micro Focus">
                    <form th:action="@{/j_spring_security_check}" method="post" class="form-login">
                        <div class="invisible">Site message</div>
                        <h1 class="h3 mb-3 font-weight-normal">Enter your details</h1>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                                      th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                                    Static summary
                                </span>
                            </div>
                        </div>
                        <div th:if="${param.logout}">
                            <div class="alert alert-info">
                                You have been logged out.
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" id="username" name="username" class="form-control"
                                   autofocus="autofocus" placeholder="Username">
                        </div>
                        <div class="form-group">
<!-- INSECURE EXAMPLE: Privacy Violation: Autocomplete -->                        
                            <input type="password" id="password" name="password" class="form-control"
                                   placeholder="Password">
<!-- END EXAMPLE -->                                   
                        </div>
                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" id="remember-me" name="remember-me"
                                       value="remember-me"> Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" name="login-submit" id="login-submit" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
