<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User Message</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a th:href="@{/user/}">User</a> <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">Messages</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 mr-auto">
                        <div th:replace="fragments/user-menu.html :: userMenu('/user/messages')"></div>
                    </div>

                    <div class="col-md-9">

                        <form class="form-horizontal">
                            <div th:if="${message}" th:class="${'alert ' + alertClass + ' alert-dismissible'}" role="alert">
                                <span th:text="${message}">message</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="form-group row">
                                <label for="dateSent" class="col-sm-2 col-form-label">Date Sent</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="dateSent" th:value="${#dates.format(messageForm.sentDate, 'MM-dd-yyyy')}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="messageText" class="col-sm-2 col-form-label">Message</label>
                                <div class="col-sm-10">
                                    <input type="text" readonly class="form-control-plaintext" id="messageText" th:value="${messageForm.text}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <a class="btn btn-primary" th:href="@{/user/messages}"> Back </a>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
</html>
