<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Products Edit</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a th:href="@{/admin/}">Site Admin</a> <span class="mx-2 mb-0">/</span>
                        <a th:href="@{/admin/products}">Products</a> <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">Edit</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 mr-auto">
                        <div th:replace="fragments/admin-menu.html :: adminMenu('/admin/products')"></div>
                    </div>

                    <div class="col-md-9">

                        <form class="form-horizontal" action="#" th:action="@{/admin/products/{id}/save(id=${adminProductForm.id})}" th:object="${adminProductForm}" method="post">

                            <div th:if="${message}" th:class="${'alert ' + alertClass + ' alert-dismissible'}" role="alert">
                                <span th:text="${message}">message</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
                                <p th:each="error : ${#fields.errors('global')}" th:text="${error}">error</p>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('code')}? 'has-error':''">
                                    <label for="code" class="text-black">Code <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="code" th:field="*{code}" th:value="${adminProductForm.code}">
                                    <div th:if="${#fields.hasErrors('code')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                                    <label for="name" class="text-black">Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" th:field="*{name}" th:value="${adminProductForm.name}">
                                    <div th:if="${#fields.hasErrors('name')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('summary')}? 'has-error':''">
                                    <label for="summary" class="text-black">Summary <span class="text-danger">*</span></label>
                                    <textarea class="form-control" rows="5" id="summary" th:field="*{summary}" th:text="${adminProductForm.summary}"></textarea>
                                    <div th:if="${#fields.hasErrors('summary')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                                    <label for="description" class="text-black">Description <span class="text-danger">*</span></label>
                                    <textarea class="form-control" rows="5" id="description" th:field="*{description}" th:text="${adminProductForm.description}"></textarea>
                                    <div th:if="${#fields.hasErrors('description')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12" th:classappend="${#fields.hasErrors('image')}? 'has-error':''">
                                    <label for="image" class="text-black">Image Link <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="image" th:field="*{image}" th:value="${adminProductForm.image}">
                                    <div th:if="${#fields.hasErrors('image')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
                                    <label for="price" class="text-black">Price <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="price" th:field="*{price}" th:value="${adminProductForm.price}">
                                    <div th:if="${#fields.hasErrors('price')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('salePrice')}? 'has-error':''">
                                    <label for="salePrice" class="text-black">Sale Price <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="salePrice" th:field="*{salePrice}" th:value="${adminProductForm.salePrice}">
                                    <div th:if="${#fields.hasErrors('salePrice')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('salePrice')}" th:errors="*{salePrice}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('timeToStock')}? 'has-error':''">
                                    <label for="timeToStock" class="text-black">Time to Stock <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="timeToStock" th:field="*{timeToStock}" th:value="${adminProductForm.timeToStock}">
                                    <div th:if="${#fields.hasErrors('timeToStock')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('timeToStock')}" th:errors="*{timeToStock}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('rating')}? 'has-error':''">
                                    <label for="rating" class="text-black">Rating <span class="text-danger">*</span></label>
                                    <select id="rating" class="form-control" th:field="*{rating}">
                                        <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"
                                                th:selected="${i==adminProductForm.rating}"></option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('rating')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-check row">
                                <div class="form-check form-check-inline" th:classappend="${#fields.hasErrors('inStock')}? 'has-error':''">
                                    <input class="form-check-input" type="checkbox" id="inStock" th:field="*{inStock}"
                                           th:value="${adminProductForm.inStock}">
                                    <label class="form-check-label" for="inStock">In Stock</label>
                                    <div th:if="${#fields.hasErrors('inStock')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('inStock')}" th:errors="*{inStock}"></p>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline" th:classappend="${#fields.hasErrors('onSale')}? 'has-error':''">
                                    <input class="form-check-input" type="checkbox"  id="onSale" th:field="*{onSale}"
                                           th:value="${adminProductForm.onSale}">
                                    <label class="form-check-label" for="onSale">On Sale</label>
                                    <div th:if="${#fields.hasErrors('onSale')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('onSale')}" th:errors="*{onSale}"></p>
                                    </div>
                                </div>
                                <div class="form-check form-check-inline" th:classappend="${#fields.hasErrors('available')}? 'has-error':''">
                                    <input class="form-check-input" type="checkbox" id="available" th:field="*{available}"
                                           th:value="${adminProductForm.available}">
                                    <label class="form-check-label" for="available">Available</label>
                                    <div th:if="${#fields.hasErrors('available')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('available')}" th:errors="*{available}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-space btn-primary">Save</button>
                                    <a class="btn btn-info" th:href="@{/admin/products/{id}(id=${adminProductForm.id})}">Cancel</a>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>
