<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Products</title>
</head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0">
                            <a th:href="@{/admin/}">Site Admin</a> <span class="mx-2 mb-0">/</span>
                            <strong class="text-black">Products</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-section">

                <div class="container">

                    <div class="row">

                        <div class="col-md-3 mr-auto">
                            <div th:replace="fragments/admin-menu.html :: adminMenu('/admin/products')"></div>
                        </div>

                        <div class="col-md-9">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Code</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Available</th>
                                    <th scope="col">In Stock</th>
                                    <th scope="col">On Sale</th>
                                    <th scope="col">Rating</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${products.isEmpty()}">
                                    <td colspan="7"> No Products Available </td>
                                </tr>
                                <tr th:each="p : ${products}">
                                    <td><a th:href="@{/admin/products/{id}(id=${p.id})}"><span th:text="${p.code}"> Code </span></a></td>
                                    <td><span th:text="${p.name}"> Name </span></td>
                                    <td>
                                        <span th:text="${currencySymbol + #strings.replace(#numbers.formatDecimal(p.price, 0, 2), '.00', '')}"> Price </span>
                                    </td>
                                    <td>
                                        <span th:if="${p.available}"> <i class="fas fa-check"></i> </span>
                                        <span th:unless="${p.available}"> <i class="fas fa-times"></i> </span>
                                    </td>
                                    <td>
                                        <span th:if="${p.onSale}"> <i class="fas fa-check"></i> </span>
                                        <span th:unless="${p.onSale}"> <i class="fas fa-times"></i> </span>
                                    </td>
                                    <td>
                                        <span th:if="${p.inStock}"> <i class="fas fa-check"></i> </span>
                                        <span th:unless="${p.inStock}"> <i class="fas fa-times"></i> </span>
                                    </td>
                                    <td>
                                        <span th:each="i : ${#numbers.sequence( 1, p.rating, 1)}">
                                            <i class="fas fa-star" style="color: cornflowerblue"> </i>
                                        </span>
                                            <span th:if="${p.rating != 5}">
                                            <span th:each="i : ${#numbers.sequence(p.rating, 4, 1)}">
                                                <i class="fas fa-star" style="color: gray"> </i>
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="form-group row mt-4">
                                <div class="col-md-12">
                                    <a class="btn btn-primary" th:href="@{/admin/products/add}">Add Product</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </body>
</html>
