<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Products View</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a th:href="@{/admin/}">Site Admin</a> <span class="mx-2 mb-0">/</span>
                        <a th:href="@{/admin/products}">Products</a> <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">View</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 mr-auto">
                        <div th:replace="fragments/admin-menu.html :: adminMenu('/admin/products')"></div>
                    </div>

                    <div class="col-md-9">

                        <form class="form-horizontal">

                            <div th:if="${message}" th:class="${'alert ' + alertClass + ' alert-dismissible'}" role="alert">
                                <span th:text="${message}">message</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="code" class="text-black">Code </label>
                                    <input readonly th:value="${adminProductForm.code}" type="text" class="form-control" id="code" name="code">
                                </div>
                                <div class="col-md-6">
                                    <label for="name" class="text-black">Name </label>
                                    <input readonly th:value="${adminProductForm.name}" type="text" class="form-control" id="name" name="name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="summary" class="text-black">Summary </label>
                                    <textarea readonly rows="5" th:text="${adminProductForm.summary}" type="text" class="form-control" id="summary" name="summary"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="description" class="text-black">Description </label>
                                    <textarea readonly rows="5" th:text="${adminProductForm.description}" type="text" class="form-control" id="description" name="description"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="image" class="text-black">Image Link </label>
                                    <input readonly th:value="${adminProductForm.image}" type="text" class="form-control" id="image" name="image">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="price" class="text-black">Price </label>
                                    <input readonly th:value="${adminProductForm.price}" type="text" class="form-control" id="price" name="price">
                                </div>
                                <div class="col-md-6">
                                    <label for="salePrice" class="text-black">Sale Price </label>
                                    <input readonly th:value="${adminProductForm.salePrice}" type="text" class="form-control" id="salePrice" name="salePrice">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="timeToStock" class="text-black">Time to Stock </label>
                                    <input readonly th:value="${adminProductForm.timeToStock}" type="text" class="form-control" id="timeToStock" name="timeToStock">
                                </div>
                                <div class="col-md-6">
                                    <label for="rating" class="text-black"> Average Rating </label>
                                    <div class="col-xs-2">
                                        <span th:each="i : ${#numbers.sequence( 1, adminProductForm.rating, 1)}">
                                            <i class="fas fa-star" style="color: cornflowerblue"> </i>
                                        </span>
                                        <span th:if="${adminProductForm.rating != 5}">
                                            <span th:each="i : ${#numbers.sequence(adminProductForm.rating, 4, 1)}">
                                                <i class="fas fa-star" style="color: gray"> </i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-check row">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="available"
                                           th:field="${adminProductForm.available}" disabled>
                                    <label class="form-check-label" for="available">Available </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="onSale"
                                           th:field="${adminProductForm.onSale}" disabled>
                                    <label class="form-check-label" for="onSale">On Sale </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inStock"
                                           th:field="${adminProductForm.inStock}" disabled>
                                    <label class="form-check-label" for="inStock">In Stock </label>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-md-12">
                                    <a class="btn btn-primary" th:href="@{/admin/products/{id}/edit(id=${adminProductForm.id})}"> Edit Product</a>
                                    <a class="btn btn-danger" th:href="@{/admin/products/{id}/delete(id=${adminProductForm.id})}"> Delete Product </a>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
</html>
