<h1>My Profile</h1>
<p>
  <strong>Name: </strong> {{account.firstName}} {{account.lastName}}<br />
  <strong>Email: </strong> {{account.email}} <br/>
  <strong>Phone: </strong> {{account.phone}} <br/>
  <strong>Address: </strong> {{account.address}} <br/>
  <strong>City: </strong> {{account.city}} <br/>
  <strong>Zip: </strong> {{account.zip}} <br/>
  <strong>State: </strong> {{account.state}} <br/>
  <strong>Country: </strong> {{account.country}} <br/>
</p>
<p><a routerLink="update">Update Profile</a></p>
