<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User Profile</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/user/}">User</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Home</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 mr-auto">
                        <div th:replace="fragments/user-menu.html :: userMenu('/user/home')"></div>
                    </div>

                    <div class="col-md-9">

                        <form class="form-horizontal">
                            <div th:if="${message}" th:class="${'alert ' + alertClass + ' alert-dismissible'}" role="alert">
                                <span th:text="${message}">message</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="jumbotron">
                                <h1 class="display-4">Hello, <span th:text="${fullname}"></span></h1>
                                <p class="lead">
                                    Welcome back to IWA Pharmacy Direct. This is your home page where you can check the status of your orders,
                                    view any messages and update your profile.</p>
                                <hr class="my-4">

                                <div class="col-md-12">
                                    <div th:if="${unreadMessageCount > 0}" class="alert alert-primary" role="alert">
                                        You have <a th:href="@{/user/messages}" class="alert-link"><span th:text="${unreadMessageCount}"></span> new message(s)</a>.
                                    </div>
                                    <div th:if="${unreadMessageCount == 0}" class="alert alert-light" role="alert">
                                        You have no new messages.
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div th:if="${unshippedOrderCount > 0}" class="alert alert-info" role="alert">
                                        You have <a th:href="@{/user/orders}" class="alert-link"><span th:text="${unshippedOrderCount}"></span> unshipped order(s)</a>.
                                    </div>
                                    <div th:if="${unshippedOrderCount == 0}" class="alert alert-light" role="alert">
                                        You have no unshipped orders.
                                    </div>
                                </div>

                                <div class="col-md-12 mt-4">
                                    <a class="btn btn-primary" th:href="@{/products}">Shop Now</a>
                                    <a class="btn btn-primary" th:href="@{/user/profile}">View Profile</a>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </div>
</body>
</html>
