<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>User Page</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="row">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">User</li>
                </ol>
            </nav>

            <div th:replace="fragments/user-menu.html
                    :: userMenu('/user/profile', ${messageCount})">
            </div>

            <div class="col-md-10">
                <h2 th:text="@{'Welcome '+${#authentication.name}}" sec:authorize="isAuthenticated()"></h2>

                <p>User Dashboard goes here</p>

<!--
                <p th:if="${session.username != null}" th:utext="${session.username}"></p>
                <p th:if="${session.authorities != null}" th:utext="${session.authorities}"></p>
-->
            </div>

        </div>

    </div>
</body>
</html>
