<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Users Password</title>
    <script type="text/javascript">
        function init() {
            document.getElementById("password").value = "";
            document.getElementById("confirmPassword").value = "";
        }
        window.onload = init;
    </script>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a th:href="@{/admin/}">Site Admin</a> <span class="mx-2 mb-0">/</span>
                        <a th:href="@{/admin/users}">Users</a> <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">Change Password</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 mr-auto">
                        <div th:replace="fragments/admin-menu.html :: adminMenu('/admin/users')"></div>
                    </div>

                    <div class="col-md-9">

                        <form class="form-horizontal" action="#" th:action="@{/admin/users/{id}/savePassword(id=${adminPasswordForm.id})}" th:object="${adminPasswordForm}" method="post">

                            <div th:if="${message}" th:class="${'alert ' + alertClass + ' alert-dismissible'}" role="alert">
                                <span th:text="${message}">message</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
                                <p th:each="error : ${#fields.errors('global')}" th:text="${error}">error</p>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="username" class="text-black">Username</label>
                                    <input type="text" readonly class="form-control" id="username" name="username" th:field="*{username}" th:value="${adminPasswordForm.username}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <label for="password" class="text-black">Password <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="password" th:field="*{password}" value="">
                                    <small id="passwordHelp" class="form-text text-muted">Enter new password.</small>
                                    <div th:if="${#fields.hasErrors('password')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                                    </div>
                                </div>
                                <div class="col-md-6" th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <label for="confirmPassword" class="text-black">Confirm Password <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" value="">
                                    <small id="confirmPasswordHelp" class="form-text text-muted">Confirm new password.</small>

                                    <div th:if="${#fields.hasErrors('confirmPassword')}">
                                        <p class="alert alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-space btn-primary">Save</button>
                                    <a class="btn btn-info" th:href="@{/admin/users/{id}(id=${adminPasswordForm.id})}">Cancel</a>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>
</html>
