<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Users Edit</title>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">

        <div class="row">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/admin/}">Site Admin</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a th:href="@{/admin/users/}">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>

            <div th:replace="fragments/admin-menu.html
                    :: adminMenu('/admin/users', ${messageCount})">
            </div>

            <div class="col-md-10">
                <form action="#" th:action="@{/admin/users/{id}/save(id=${adminUserForm.id})}" th:object="${adminUserForm}" method="post">
                    <div th:if="${message}" th:class="${'alert ' + alertClass + ' alert-dismissible'}" role="alert">
                        <span th:text="${message}">message</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('global')}">
                        <p th:each="error : ${#fields.errors('global')}" th:text="${error}">error</p>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" th:field="*{username}" th:value="${adminUserForm.username}">
                            <div th:if="${#fields.hasErrors('username')}">
                                <p class="label label-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                        <label for="name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" th:field="*{name}" th:value="${adminUserForm.name}">
                            <div th:if="${#fields.hasErrors('name')}">
                                <p class="label label-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" th:field="*{email}" th:value="${adminUserForm.email}">
                            <div th:if="${#fields.hasErrors('email')}">
                                <p class="label label-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('mobile')}? 'has-error':''">
                        <label for="mobile" class="col-sm-2 col-form-label">Mobile:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mobile" th:field="*{mobile}" th:value="${adminUserForm.mobile}">
                            <div th:if="${#fields.hasErrors('mobile')}">
                                <p class="label label-danger" th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('enabled')}? 'has-error':''">
                        <label for="enabled" class="col-sm-2 col-form-label">Enabled:</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="" id="enabled" th:field="*{enabled}"
                                   th:value="${adminUserForm.enabled}">
                            <div th:if="${#fields.hasErrors('enabled')}">
                                <p class="label label-danger" th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-space btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
