<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Users</title>
</head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="row no-margin">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/admin/}">Site Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Users</li>
                    </ol>
                </nav>

                <div th:replace="fragments/admin-menu.html :: adminMenu('/admin/users')"></div>

                <div class="col-md-10">
                    <table class="table">
                        <caption>Site users</caption>
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Enabled</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${users.isEmpty()}">
                            <td colspan="2"> No Users Available </td>
                        </tr>
                        <tr th:each="u : ${users}">
                            <td><a th:href="@{/admin/users/{id}(id=${u.id})}"><span th:text="${u.username}"> Username </span></a></td>
                            <td><span th:text="${u.name}"> Name </span></td>
                            <td><span th:text="${u.email}"> Email </span></td>
                            <td><span th:text="${u.mobile}"> Mobile </span></td>
                            <td>
                                <span th:if="${u.enabled}"> <i class="fas fa-check"></i> </span>
                                <span th:unless="${u.enabled}"> <i class="fas fa-times"></i> </span>
                            </td>
                            <td>
                                <span th:each="a : ${u.authorities}"><span th:text="${#strings.replace(a.name,'ROLE_','')}"> Role </span>&nbsp;</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" th:href="@{/admin/users/add}"> New User </a>
                </div>

            </div>
        </div>
    </body>
</html>
