<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Users View</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a th:href="@{/admin/}">Site Admin</a> <span class="mx-2 mb-0">/</span>
                    <a th:href="@{/admin/users}">Users</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">View</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">

        <div class="container">

            <div class="row">

                <div class="col-md-3 mr-auto">
                    <div th:replace="fragments/admin-menu.html :: adminMenu('/admin/users')"></div>
                </div>

                <div class="col-md-9">

                    <form class="form-horizontal">

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="username" class="text-black">Username </label>
                                <input readonly th:value="${userForm.username}" type="text" class="form-control" id="username" name="username">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="firstname" class="text-black">First Name </label>
                                <input readonly th:value="${userForm.firstName}" type="text" class="form-control" id="firstname" name="firstname">
                            </div>
                            <div class="col-md-6">
                                <label for="lastname" class="text-black">Last Name </label>
                                <input readonly th:value="${userForm.lastName}" type="text" class="form-control" id="lastname" name="lastname">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="email" class="text-black">Email Address </label>
                                <input readonly th:value="${userForm.email}" type="text" class="form-control" id="email" name="email">
                            </div>
                            <div class="col-md-6">
                                <label for="phone" class="text-black">Phone </label>
                                <input readonly th:value="${userForm.phone}" type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="address" class="text-black">Address </label>
                                <input readonly th:value="${userForm.address}" type="text" class="form-control" id="address" name="address" placeholder="Street address">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="state" class="text-black">State / Region </label>
                                <input readonly th:value="${userForm.state}" type="text" class="form-control" id="state" name="state">
                            </div>
                            <div class="col-md-6">
                                <label for="zip" class="text-black">Postal / Zip </label>
                                <input readonly th:value="${userForm.zip}" type="text" class="form-control" id="zip" name="zip">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="city" class="text-black">City </label>
                                <input readonly th:value="${userForm.city}" type="text" class="form-control" id="city" name="city" placeholder="city">
                            </div>
                            <div class="col-md-6">
                                <div readonly th:replace="fragments/country-selector.html :: countrySelector(${userForm.country}, false, true)"></div>
                            </div>
                        </div>

                        <div class="form-check row">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="enabled"
                                       th:field="${userForm.enabled}" disabled>
                                <label class="form-check-label" for="enabled">Enabled </label>
                            </div>
                        </div>

                        <div class="form-group row mt-4">
                            <div class="col-md-12">
                                <a class="btn btn-primary" th:href="@{/admin/users/{id}/edit(id=${userForm.id})}"> Edit User </a>
                                <a class="btn btn-primary" th:href="@{/admin/users/{id}/changePassword(id=${userForm.id})}"> Change Password </a>
                                <a class="btn btn-primary" th:href="@{/admin/users/{id}/delete(id=${userForm.id})}"> Delete User </a>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>

</div>
</body>
</html>
