<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="adminMenu (activeItem)">
        <div class="side-menu">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'dashboard')} ? active : ''"
                   th:href="@{/admin/}"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'products')} ? active : ''"
                   th:href="@{/admin/products}"><i class="fas fa-box fa-fw"></i> Products </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'reviews')} ? active : ''"
                   th:href="@{/admin/reviews}"><i class="fas fa-comments fa-fw"></i> Reviews </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'orders')} ? active : ''"
                   th:href="@{/admin/orders}"><i class="fas fa-shopping-cart fa-fw"></i> Orders </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'users')} ? active : ''"
                   th:href="@{/admin/users}"><i class="fas fa-users fa-fw"></i> Users </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'backup')} ? active : ''"
                   th:href="@{/admin/backup}"><i class="fas fa-database fa-fw"></i> Backup </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'diagnostics')} ? active : ''"
                   th:href="@{/admin/diagnostics}"><i class="fas fa-heartbeat fa-fw"></i> Diagnostics </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'messages')} ? active : ''"
                   th:href="@{/admin/messages}"><i class="fas fa-envelope fa-fw"></i> Messages <span id="unread-message-count" class="badge badge-pill badge-info">0</span>
                    <span class="sr-only">unread messages</span>
                </a>
            </div>
        </div>
    </div>
</html>
