<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <th:block th:fragment="header">

            <div class="site-navbar py-2">

                <div class="search-wrap">
                    <div class="container">
                        <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                        <form th:action="@{/products}" method="GET">
                            <input type="text" class="form-control" name="keywords" id="nav-keywords" placeholder="Search keyword(s) and hit enter...">
                        </form>
                    </div>
                </div>

                <div class="container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="logo">
                            <div class="site-logo">
                                <a class="navbar-brand js-logo-clone" th:href="@{/}">
                                    <img th:src="@{/img/logo.png}" alt="IWA Pharmacy Direct">
                                </a>
                            </div>
                        </div>
                        <div class="main-nav d-none d-lg-block">
                            <nav class="site-navigation text-right text-md-center" role="navigation">
                                <ul class="site-menu js-clone-nav d-none d-lg-block">
                                    <li class="has-children">
                                        <a th:href="@{/products}">Shop</a>
                                        <ul class="dropdown">
                                            <li class="has-children">
                                                <a th:href="@{/products}">Health &amp; wellbeing</a>
                                                <ul class="dropdown">
                                                    <li><a th:href="@{/products/firstaid}">First aid</a></li>
                                                    <li><a th:href="@{/products}">Health conditions</a></li>
                                                    <li><a th:href="@{/products}">Stop smoking</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a th:href="@{/products}">Medicines &amp; treatments</a>
                                                <ul class="dropdown">
                                                    <li><a th:href="@{/products}">Allergy &amp; hayfever</a></li>
                                                    <li><a th:href="@{/products}">Children's medicines</a></li>
                                                    <li><a th:href="@{/products}">Cough, cold &amp; flu</a></li>
                                                    <li><a th:href="@{/products}">Pain relief</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a th:href="@{/products}">Vitamins &amp; supplements</a>
                                                <ul class="dropdown">
                                                    <li><a th:href="@{/products}">Everyday vitamins &amp; supplements</a></li>
                                                    <li><a th:href="@{/products}">Children's vitamins &amp; supplements</a></li>
                                                    <li><a th:href="@{/products}">Mens supplements</a></li>
                                                    <li><a th:href="@{/products}">Womens supplements</a></li>
                                                </ul>
                                            </li>
                                            <li><a th:href="@{/products}">Weight management</a></li>
                                            <li><a th:href="@{/products}">Toiletries</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a th:href="@{/prescriptions}">Prescriptions</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a th:href="@{/products}">One-off prescriptions</a>
                                                <a th:href="@{/products}">Repeat prescriptions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a th:href="@{/services}">Services</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a th:href="@{/products}">Flu vaccinations</a>
                                                <a th:href="@{/products}">Stop smoking</a>
                                                <a th:href="@{/products}">Travel vaccinations</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/advice}">Advice</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="site-top-icons">
                            <ul>
                                <li>
                                    <a href="#" class="icons-btn d-inline-block js-search-open">
                                        <span class="icon-search"></span>
                                    </a>
                                </li>
                                <li>
                                    <div class="has-children">
                                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="icons-menu d-inline-block">
                                            <span class="icon-account_circle"></span>
                                            <span class="my-account-text">My Account</span>
                                        </a>
                                        <ul sec:authorize="isAnonymous()" class="dropdown">
                                            <li>
                                                <a th:href="@{/login}">
                                                    <i class="fas fa-sign-in-alt fa-fw"></i> Login
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/user/register}">
                                                    <i class="fas fa-user-plus fa-fw"></i> Register
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link" target="_blank" th:href="@{/swagger-ui.html(url='@{/v3/api-docs}')}">
                                                    <i class="fas fa-code fa-fw"></i> API Explorer
                                                </a>
                                            </li>
                                        </ul>
                                        <a sec:authorize="isAuthenticated()" th:href="@{/user}" class="icons-menu d-inline-block">
                                            <span class="icon-account_circle"></span>
                                            <span class="my-account-text" th:text="@{${#authentication.name}}"></span>
                                        </a>
                                        <ul sec:authorize="isAuthenticated()" class="dropdown">
                                            <li>
                                                <a th:href="@{/user}"><i class="fas fa-home fa-fw"></i> Home </a>
                                            </li>
                                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/admin}"><i class="fas fa-tools fa-fw"></i> Site Administration </a>
                                            </li>
                                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                                <a th:href="@{/console}" target="_blank"><i class="fas fa-database fa-fw"></i> Database Console</a>
                                            </li>
                                            <li>
                                                <a class="nav-link" target="_blank" th:href="@{/swagger-ui.html(url='@{/v3/api-docs}')}"><i class="fas fa-code fa-fw"></i> API Explorer </a>
                                            </li>
                                            <li sec:authorize="isAuthenticated()">
                                                <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a th:href="@{/cart}" class="icons-btn d-inline-block cart">
                                        <span class="icon-shopping-cart"></span>
                                        <span id="shopping-cart-count" class="number">0</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                                        <span class="icon-menu"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </th:block>
    </body>
</html>
