<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <body>
        <th:block th:fragment="header">
            <div class="site-navbar py-2">

                <div class="search-wrap">
                    <div class="container">
                        <a href="#" class="search-close js-search-close"><i class="fas fa-times"></i></a>
                        <form th:action="@{/products}" method="GET">
                            <input type="text" class="form-control" name="keywords" id="nav-keywords" placeholder="Search keyword and hit enter...">
                        </form>
                    </div>
                </div>

                <div class="container">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="logo">
                            <div class="site-logo">
                                <a class="navbar-brand" th:href="@{/}">
                                    <img th:src="@{/img/logo.png}" alt="IWA Pharmacy Direct">
                                </a>
                            </div>
                        </div>
                        <div class="main-nav d-none d-lg-block">
                            <nav class="site-navigation text-right text-md-center" role="navigation">
                                <ul class="site-menu d-none d-lg-block">
                                    <li class="has-children">
                                        <a th:href="@{/products}">Shop</a>
                                        <ul class="dropdown">
                                            <li class="has-children">
                                                <a th:href="@{/products}">Health &amp; wellbeing</a>
                                                <ul class="dropdown">
                                                    <li><a th:href="@{/products}">First aid</a></li>
                                                    <li><a th:href="@{/products}">Health conditions</a></li>
                                                    <li><a th:href="@{/products}">Stop smoking</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a th:href="@{/products}">Medicines &amp; treatments</a>
                                                <ul class="dropdown">
                                                    <li><a th:href="@{/products}">Allergy &amp; hayfever</a></li>
                                                    <li><a th:href="@{/products}">Children's medicines</a></li>
                                                    <li><a th:href="@{/products}">Cough, cold &amp; flu</a></li>
                                                    <li><a th:href="@{/products}">Pain relief</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a th:href="@{/products}">Vitamins &amp; supplements</a>
                                                <ul class="dropdown">
                                                    <li><a th:href="@{/products}">Everyday vitamins &amp; supplements</a></li>
                                                    <li><a th:href="@{/products}">Children's vitamins &amp; supplements</a></li>
                                                    <li><a th:href="@{/products}">Mens supplements</a></li>
                                                    <li><a th:href="@{/products}">Womens supplements</a></li>
                                                </ul>
                                            </li>
                                            <li><a th:href="@{/products}">Weight management</a></li>
                                            <li><a th:href="@{/products}">Toiletries</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a th:href="@{/prescriptions}">Prescriptions</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a th:href="@{/products}">One-off prescriptions</a>
                                                <a th:href="@{/products}">Repeat prescriptions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a th:href="@{/services}">Services</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a th:href="@{/products}">Flu vaccinations</a>
                                                <a th:href="@{/products}">Stop smoking</a>
                                                <a th:href="@{/products}">Travel vaccinations</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/advice}">Advice</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="secondary-nav navbar-right">
                            <nav class="site-navigation" role="navigation">
                                <ul class="site-menu d-none d-lg-block">
                                    <li>
                                        <a class="nav-link js-search-open" th:href="@{/products}"> <!--class="icons-btn d-inline-block js-search-open"-->
                                            <i class="fas fa-search fa-fw"></i>
                                        </a>
                                    </li>
                                    <li sec:authorize="isAnonymous()">
                                        <a class="nav-link" th:href="@{/login}">
                                            <i class="fas fa-user-circle fa-fw"></i>
                                            <span>My Account</span>
                                        </a>
                                    </li>
                                    <li sec:authorize="isAuthenticated()" class="has-children">
                                        <a href="#" class="has-children" role="button">
                                            <i class="fas fa-user-circle fa-fw"></i>
                                            <span th:text="@{${#authentication.name}}"></span>
                                        </a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/user}"><i class="fas fa-home fa-fw"></i> Home </a></li>
                                            <li><a th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-tools fa-fw"></i> Site Administration </a></li>
                                            <li><a th:href="@{/console}" target="_blank" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-database fa-fw"></i> Database Console</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li sec:authorize="isAuthenticated()">
                                                <a class="nav-link" target="_blank" th:href="@{/swagger-ui.html(url='@{/v3/api-docs}')}"><i class="fas fa-code fa-fw"></i> API Explorer </a>
                                                <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a th:href="@{/cart}" class="icons-btn btn-white d-inline-block bag">
                                            <i class="fas fa-shopping-cart fa-fw"></i>
                                            <shopping-cart-count></shopping-cart-count>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <nav class="iwa-navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{/}">
                            <img th:src="@{/img/logo.png}" alt="IWA Pharmacy Direct"/>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav pages">
                            <li>
                                <a th:href="@{/products}">Shop</a>
                            </li>
                            <li>
                                <a th:href="@{/prescriptions}">Prescriptions</a>
                            </li>
                            <li>
                                <a th:href="@{/services}">Services</a>
                            </li>
                            <li>
                                <a th:href="@{/advice}">Health & Advice</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li sec:authorize="isAnonymous()">
                                <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt fa-fw"></i> Login </a>
                            </li>
                            --
                            <li class="nav-item text-nowrap" sec:authorize="isAnonymous()">
                                <a class="nav-link" th:href="@{/register}"><i class="fas fa-door-open"></i> Register</a>
                            </li>
                            --
                            <li sec:authorize="isAuthenticated()" class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user-circle fa-fw"></i>
                                    <span th:text="@{${#authentication.name}}"></span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/user}"><i class="fas fa-address-card fa-fw"></i> User Profile </a></li>
                                    <li><a th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-tools fa-fw"></i> Site Administration </a></li>
                                    <li><a th:href="@{/console}" target="_blank" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-database fa-fw"></i> Database Console</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li sec:authorize="isAuthenticated()">
                                        <a class="nav-link" target="_blank" th:href="@{/swagger-ui.html(url='@{/v3/api-docs}')}"><i class="fas fa-code fa-fw"></i> API Explorer </a>
                                        <a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            -->
        </th:block>
    </body>
</html>
