<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.2/css/all.css} "/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/owl.theme.default.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/star-rating.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/star-rating-theme.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/icomoon/style.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>

        <link rel="shortcut icon" type="image/ico" th:href="@{/img/favicons/favicon.ico}"/>

        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">IWA Pharmacy Direct</title>
    </head>
    <body>
        <div id="app" class="d-flex flex-column min-vh-100 site-wrap">
            <th:block th:replace="fragments/header :: header"/>
            <th:block layout:fragment="content"/>
            <th:block th:replace="fragments/footer :: footer"/>
            <th:block layout:fragment="script"/>
        </div>
    </body>
</html>
