<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css} "/>
        <link rel="shortcut icon" type="image/ico" th:href="@{/img/favicons/favicon.ico}"/>

        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">IWA Pharmacy Direct</title>
    </head>
    <body class="sky-background">
        <div id="app">
            <th:block th:replace="fragments/header :: header"/>
            <div class="container">
                <div class="background">
                    <th:block layout:fragment="content"/>
                </div>
            </div>
            <th:block th:replace="fragments/footer :: footer"/>
        </div>
    </body>
</html>
