<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="userMenu (activeItem)">
        <div class="side-menu">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'home')} ? active : ''"
                   th:href="@{/user/}"><i class="fas fa-home fa-fw"></i> Home</a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'profile')} ? active : ''"
                   th:href="@{/user/profile}"><i class="fas fa-user fa-fw"></i> Profile</a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'orders')} ? active : ''"
                   th:href="@{/user/orders}"><i class="fas fa-shopping-cart fa-fw"></i> Orders </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'messages')} ? active : ''"
                   th:href="@{/user/messages}"><i class="fas fa-envelope fa-fw"></i> Messages <span id="unread-message-count" class="badge badge-pill badge-info">0</span>
                    <span class="sr-only">unread messages</span>
                </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'upload-xml-file')} ? active : ''"
                   th:href="@{/user/upload-xml-file}"><i class="fas fa-upload fa-fw"></i> Upload Files </a>
                <a class="list-group-item list-group-item-action"
                   th:classappend="${#strings.contains(activeItem,'download-file')} ? active : ''"
                   th:href="@{/user/download-file}"><i class="fas fa-download fa-fw"></i> Download Files </a>
            </div>
        </div>
    </div>
</html>
