<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Shopping Cart</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0">
                            <a th:href="@{/products/}">Shop</a> <span class="mx-2 mb-0">/</span>
                            <a th:href="@{/cart/}">Cart</a> <span class="mx-2 mb-0">/</span>
                            <strong class="text-black"> Checkout </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-section">
                <div class="container">
                    <!--div class="row mb-5">
                        <div class="col-md-12">
                            <div class="bg-light rounded p-3">
                                <p class="mb-0">Returning customer? <a href="#" class="d-inline-block">Click here</a> to login</p>
                            </div>
                        </div>
                    </div-->
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <h2 class="h3 mb-3 text-black">Billing Details</h2>
                            <div class="p-3 p-lg-5 border">

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                        <input th:value="${orderForm.getUser().firstName}" type="text" class="form-control" id="c_fname" name="c_fname">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                        <input th:value="${orderForm.getUser().lastName}" type="text" class="form-control" id="c_lname" name="c_lname">
                                    </div>
                                </div>

                                <div class="form-group row mb-5">
                                    <div class="col-md-6">
                                        <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                                        <input th:value="${orderForm.getUser().email}" type="text" class="form-control" id="c_email_address" name="c_email_address">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                        <input th:value="${orderForm.getUser().phone}" type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_companyname" class="text-black">Company Name </label>
                                        <input type="text" class="form-control" id="c_companyname" name="c_companyname">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                                        <input th:value="${orderForm.getUser().address}" type="text" class="form-control" id="c_address" name="c_address">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="c_state_region" class="text-black">State / Region <span class="text-danger">*</span></label>
                                        <input th:value="${orderForm.getUser().state}" type="text" class="form-control" id="c_state_region" name="c_state_region">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_postal_zip" class="text-black">Postal / Zip <span class="text-danger">*</span></label>
                                        <input th:value="${orderForm.getUser().zip}" type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div th:replace="fragments/country-selector.html :: countrySelector(${orderForm.getUser().country}, true, false)"></div>
                                </div>

                                <div class="form-group">
                                    <label for="c_ship_different_address" class="text-black" data-toggle="collapse"
                                           href="#ship_different_address" role="button" aria-expanded="false"
                                           aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address">
                                        Ship To A Different Address?</label>
                                    <div class="collapse" id="ship_different_address">
                                        <div class="py-2">

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="c_diff_fname" name="c_diff_fname">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="c_diff_lname" name="c_diff_lname">
                                                </div>
                                            </div>

                                            <div class="form-group row mb-5">
                                                <div class="col-md-6">
                                                    <label for="c_diff_email_address" class="text-black">Email Address <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="c_diff_email_address" name="c_diff_email_address">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="c_diff_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="c_diff_phone" name="c_diff_phone" >
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label for="c_diff_companyname" class="text-black">Company Name </label>
                                                    <input type="text" class="form-control" id="c_diff_companyname" name="c_diff_companyname">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="c_diff_address" name="c_diff_address">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label for="c_diff_state_region" class="text-black">State / Region <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="c_diff_state_region" name="c_diff_state_region">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="c_diff_postal_zip" class="text-black">Postal / Zip <span
                                                            class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="c_diff_postal_zip" name="c_diff_postal_zip">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div th:replace="fragments/country-selector.html :: countrySelector(${orderForm.getUser().getCountry()}, true, false)"></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="c_order_notes" class="text-black">Order Notes</label>
                                    <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                                              placeholder="Write your notes here..."></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <h2 class="h3 mb-3 text-black">Coupon Code</h2>
                                    <div class="p-3 p-lg-5 border">

                                        <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
                                        <div class="input-group w-75">
                                            <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                                                   aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-sm px-4" type="button" id="button-addon2">Apply</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-12">
                                    <h2 class="h3 mb-3 text-black">Your Order</h2>
                                    <div class="p-3 p-lg-5 border">

                                        <div id="cart-summary">
                                            <div id="empty-cart" class="d-none">
                                               <div class="row">
                                                <div class="offset-2 text-center pb-5">
                                                  <h5>Your shopping cart is empty!</h5>
                                                  <div class="offset-1 pt-4">
                                                      <button type="submit" class="btn btn-md height-auto px-4 py-3 btn-primary" onclick="window.location.href='/products'">Continue Shopping</button>
                                                  </div>
                                                </div>
                                               </div>
                                            </div>
                                            <div id="item-cart" class="d-none">
                                              <table id="item-table" class="table table-sm site-block-order-table">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                      <td class="text-black"><strong>Subtotal</strong></td>
                                                      <td class="text-black"><strong><span id="cart-subtotal" class="text-xs-right"></span></strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-black"><strong>Total</strong></td>
                                                        <td class="text-black"><strong><span id="order-total" class="text-xs-right"></span></strong></td>
                                                    </tr>
                                                </tfoot>
                                              </table>
                                            </div>
                                        </div>

                                        <div class="border mb-3">
                                            <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                                                                   aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

                                            <div class="collapse" id="collapsebank">
                                                <div class="py-2 px-4">
                                                    <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                                                        payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="border mb-3">
                                            <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                                                                   aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>

                                            <div class="collapse" id="collapsecheque">
                                                <div class="py-2 px-4">
                                                    <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                                                        payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="border mb-5">
                                            <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                                                                   aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>

                                            <div class="collapse" id="collapsepaypal">
                                                <div class="py-2 px-4">
                                                    <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the
                                                        payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <form action="#" th:action="@{/cart/order}" method="post">
                                                <input hidden type="text" id="userId" th:field="*{orderForm.user}" th:value="${orderForm.user}">
                                                <input hidden type="text" id="jsonCart" th:field="*{orderForm.cart}" >
                                                <input hidden type="text" id="orderAmount" th:field="*{orderForm.amount}">
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Place Order</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- </form> -->
                </div>
            </div>

            <div th:replace="fragments/secondary-bg.html :: secondaryBackground ('/index.html')"></div>

        </div>

        <th:block layout:fragment="script">
            <script type="text/javascript" th:src="@{/js/components/CartSummary.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                (function ($) {
                    $(document).ready(function () {
                        $('#cart-summary').CartSummary( { currencySymbol : /*[[${currencySymbol}]]*/ '&#164;'} );
                    });
                })(jQuery);
            </script>
        </th:block>
    </body>
</html>
