<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Shopping Cart</title>
        <script>
            if (localStorage.getItem('cart')) {
                localStorage.removeItem('cart');
            }
        </script>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0">
                            <a th:href="@{/products/}">Shop</a> <span class="mx-2 mb-0">/</span>
                            <a th:href="@{/cart/}">Cart</a> <span class="mx-2 mb-0">/</span>
                            <strong class="text-black"> Confirmation </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="icon-check_circle display-3 text-success"></span>
                            <h2 class="display-3 text-black">Thank you!</h2>
                            <p class="lead mb-5">You order number is <a th:href="@{'/user/orders/' +  ${orderId}}"><span th:text="${orderNum}"> Order Num </span></a>.</p>
                            <p><a th:href="@{/products/}" class="btn btn-md height-auto px-4 py-3 btn-primary">Back to store</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="fragments/secondary-bg.html :: secondaryBackground ('/index.html')"></div>

        </div>
    </body>
</html>
