<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Shopping Cart</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a th:href="@{/products/}">Shop</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"> Cart </strong></div>
                    </div>
                </div>
            </div>

            <div class="site-section-sm">

                <div class="container">

                    <div id="shopping-cart">
                        <div id="empty-cart" class="d-none">
                            <p class="lead mb-5">Your shopping cart is empty.</p>
                            <p>
                                <button type="submit" class="btn btn-md height-auto px-4 py-3 btn-primary" onclick="window.location.href='/products'">Continue Shopping</button>
                            </p>
                        </div>

                        <div id="item-cart" class="d-none">
                            <div class="row mb-5">
                                <div class="site-blocks-table" style="width:100%">
                                    <table id="item-table" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-total">Total</th>
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div id="action-cart" class="d-none row">
                            <div class="col-md-6">
                                <div class="row mb-5">
                                    <div class="col-md-6 mb-3 mb-md-0">
                                        <button id="update-cart" class="btn btn-primary btn-md btn-block">Update Cart</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="continue-shopping" class="btn btn-outline-primary btn-md btn-block">Continue Shopping</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="text-black h4" for="coupon">Coupon</label>
                                        <p>Enter your coupon code if you have one.</p>
                                    </div>
                                    <div class="col-md-8 mb-3 mb-md-0">
                                        <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary btn-md px-4">Apply Coupon</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-5">
                                <div class="row justify-content-end">
                                    <div class="col-md-7">
                                        <div class="row">
                                            <div class="col-md-12 text-right border-bottom mb-5">
                                                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <span class="text-black">Subtotal</span>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <strong class="text-black"><span id="cart-subtotal"></span></strong>
                                            </div>
                                        </div>
                                        <div class="row mb-5">
                                            <div class="col-md-6">
                                                <span class="text-black">Total</span>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <strong class="text-black"><span id="cart-total"></span></strong>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="checkout-cart" class="btn btn-primary btn-lg btn-block">Proceed To Checkout</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div th:replace="fragments/secondary-bg.html :: secondaryBackground ('/index.html')"></div>

        </div>

        <th:block layout:fragment="script">
            <script type="text/javascript" th:src="@{/js/components/Cart.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                (function ($) {
                    $(document).ready(function () {
                        $('#shopping-cart').Cart( { currencySymbol: /*[[${currencySymbol}]]*/ '&#164;' } );
                    });
                })(jQuery);
            </script>
        </th:block>
    </body>
</html>
