<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Internal Error</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">
            <div class="background">
                <div class="row no-margin">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Internal Error</li>
                        </ol>
                    </nav>
                </div>

                <div class="row no-margin">
                    <div class="col-md-12">
                        <p th:if="${message != null}" th:utext="${message}" style="color: red;"></p>
                        <p><a href="/" class="btn btn-info" th:href="@{/}">Back to home page</a></p>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
