<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Internal Error</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="site-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="display-3 text-danger">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </span>
                            <h2 class="display-3 text-black">Internal Error</h2>
                            <p class="lead">We're sorry there has been an internal error!</p>
                            <p>
                                <a class="btn btn-outline-danger" data-toggle="collapse" href="#errorDetails" role="button" aria-expanded="false">Show Details</a>
                            </p>
                            <div class="row mb-5">
                                <div class="col">
                                    <div class="collapse multi-collapse" id="errorDetails">
                                        <div class="card card-body">
                                            <span th:align="left" th:text="${exception}">message</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a th:href="@{/products}" class="btn btn-md height-auto px-4 py-3 btn-primary">Back to Shop</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
