<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/products">Shop</a> </div>
    </div>
  </div>
</div>

<div class="site-section-sm">

  <div class="container">

    <!--div *ngIf="keywords" class="row pt-2">
      <div class="col-md-12 text-center">
        <h2>Search</h2>
        <h5>&quot;<span class="bg-light text-dark">{{ keywords.toString() }}</span>&quot;</h5>
      </div>
    </div-->

    <app-new-products></app-new-products>

    <div class="row mb-1">
        <div class="input-group">
          <input #searchBox id="keywords" type="text" class="form-control" placeholder="Search products" name="keywords" (input)="search(searchBox.value)">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
    </div>

    <!--div class="row">
        <div class="col-lg-6">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
        </div>
        <div class="col-lg-6">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Reference</h3>
            <button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
                    data-toggle="dropdown">Reference</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                <a class="dropdown-item" href="#">Relevance</a>
                <a class="dropdown-item" href="#">Name, A to Z</a>
                <a class="dropdown-item" href="#">Name, Z to A</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Price, low to high</a>
                <a class="dropdown-item" href="#">Price, high to low</a>
            </div>
        </div>
    </div-->

    <div class="row pt-5">
      <div *ngFor="let product of products$ | async" class="col-sm-6 col-lg-4 text-center item mb-4">
        <span *ngIf="product.onSale" class="tag">Sale</span>
        <a [routerLink]="['/product/',product.id]">
          <span *ngIf="product.image">
              <img [attr.src]="'/assets/img/products/' + product.image" alt="Image" class="img-thumbnail">
          </span>
          <span *ngIf="!product.image">
              <img [attr.src]="'/img/awaiting-image-sm.png'" alt="Awaiting Image" class="img-thumbnail">
          </span>
        </a>
        <h3 class="text-dark"><a [routerLink]="['/product/',product.id]">{{  product.name }}</a></h3>
        <p *ngIf="product.onSale" class="price">
          <del>{{ product.price | currency }}</del> &mdash; {{ product.salePrice | currency }}
        </p>
        <p *ngIf="!product.onSale" class="price">
          {{ product.price | currency }}
        </p>
      </div>
    </div>

    <!--div class="row mt-5">
        <div class="col-md-12 text-center">
            <div class="site-block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div-->

    <div class="row pt-4">
      <div class="col-md-12">
        <h5>Showing {{ productCount }} products</h5>
      </div>
    </div>

  </div>
</div>
