body {
    background-color: #f8f9fa;
    padding-bottom: 50px;
}

footer {
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    font-size: 10px;
}

footer p {
    padding: 10px;
}

footer a {
    color: #222;
}

footer a:hover{
    color: #ffffff;
    text-decoration: none;
}

.jumbotron {
    background-color: #fff;
    background-size: 100% 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 30px;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron h1 {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-login .checkbox {
    font-weight: 400;
}
.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.breadcrumb {
    list-style: none;
    font-size: x-large;
}

.btn-space {
    margin-right: 5px;
}
