<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Internal Error</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="site-section-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Internal Error</h1>
                            <p>We are sorry, there was an internal error processing your request</p>
                            <p><a href="/" class="btn btn-info" th:href="@{/}">Back to home page</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
