<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Products</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="row">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/services/}">Services</a></li>
                    </ol>
                </nav>

            </div>

        </div>

    </body>
</html>
