<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Services</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a th:href="@{/vulnerabilities/}">Vulnerabilities</a> </div>
                    </div>
                </div>
            </div>

            <div class="site-section">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <h2>Product Page</h2>
                            <p>From product page enter the following in the search field:</p>
                            <code>
                                &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/ub82Xb1C8os?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen&gt;&lt;/iframe&gt;
                            </code>

                            <p>From product page enter the following in the search field:</p>
                            <code>
                                %'; DELETE FROM PRODUCTS; --
                            </code>

                            <h2>Login Page</h2>
                            <p>From login page enter the following for username:</p>
                            <code>
                                %'; --
                            </code>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>
