<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Services</title>
    </head>
    <body>
        <div layout:fragment="content" th:remove="tag">

            <div class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-0"><a th:href="@{/vulnerabilities/}">Vulnerabilities</a> </div>
                    </div>
                </div>
            </div>

            <div class="site-section">

                <div class="container">

                    <div class="row">

                        <div class="col-md-12">

                            <p class="lead">
                                This application contains a number of deliberate (and probably also unintended) security
                                vulnerabilities. Some of the example vulnerabilities that you can "exercise" are listed
                                below:
                            </p>

                            <h3>XSS Attack :: Product Search field</h3>
                            <p>The search field on the <em>Product</em> page displays the search keywords entered.
                            This allows you carry out a malicious XSS attack by entering JavaScript code. Here are
                            some examples of what you could enter in the "keywords" field:</p>
                            <code>
                                &lt;script>alert("I am hacking!")&lt;/script>
                            </code>
                            <p>or:</p>
                            <code>
                                &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/ub82Xb1C8os?autoplay=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>&lt;/iframe>
                            </code>

                            <h3>SQL Injection :: Product Search field</h3>
                            <p>The search field on the <em>Product</em> page passed the inputs straight through to as SQL.
                                You can cause a serious by deleting the Product database by entering the following:</p>
                            <code>
                                %'; DELETE FROM PRODUCTS; --
                            </code>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </body>
</html>
