<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>IWA Pharmacy Direct</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- use the font -->
    <style>
        body {
            min-height: 100vh;
            line-height: 1.7;
            color: #8c92a0;
            font-weight: 300;
            font-size: 16px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#3c3d41" style="padding: 10px 0 10px 0;">
            <img src="cid:logo.png" alt="https://iwa.onfortify.com" style="display: block;" />
        </td>
    </tr>
    <tr>
        <td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
            <p>Dear <span th:text="${to}"></span>,</p>
            <p><span th:utext="${message}"></span></p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#3c3d41" style="padding: 30px 30px 30px 30px;">
            <p style="font-size: 12px; color: rgba(255,255,255,1.00);">IWA (Insecure Web App) Pharmacy Direct is a deliberately insecure web application for use in
                <a style="color:rgba(255,255,255,1.00); font-weight:bold;" href="https://www.microfocus.com/en-us/cyberres/application-security">Fortify Application Security</a>
                demonstrations.</p>
        </td>
    </tr>
</table>

</body>
</html>